<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true"/>
	</system.web>
	<connectionStrings>
		<add name="home" connectionString="Server=GCOMPAQ\GLEB; Database=webdev_glekuz ;Trusted_Connection=Yes"/>
		<add name="worklocale" connectionString="Server=CHECKMATES; Database=webdev_glekuz2 ;Trusted_Connection=Yes"/>
	</connectionStrings>
</configuration>
